.background__grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.875rem;
  height: 8.4rem;
  margin: 0.75rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(2 21 72);
  font-size: 7rem;
  color: rgb(253, 253, 253);
  cursor: pointer;
}
